<% include ./../../elements/linkref %>
<% include ./../../elements/sidebar-wrapper %>
<% include ./../../elements/header %>
<% include ./../../helper/selbox %>
<% include ./../../helper/defaultIMG %>
<%
const pathAvatar = './../../../upload/users/';
%>

  <body class="dark-edition"> 
  <div class="container">
    <div class="row">
      <div class="col-2">
    </div>
      <div class="row">
          <div class="col-sm-12">
              <div class="form-group"enctype="multipart/form-data">
                <form action="/erp/users/save" method="POST" enctype="multipart/form-data">
                  
                    <label for="fname"class="form-control">User Name </label>
                  <input type="text" id="fname" class="form-control"  value="<%=item.name  %>"><br><br>
                  <label for="fname"class="form-control">Title</label>
                  <input type="text" id="title" class="form-control" value="<%=item.title  %>"><br><br>
                  <label for="fname"class="form-control">Email</label>
                  <input type="text" id="email" class="form-control" name="slug" value="<%=item.email  %>"><br><br>
                  <label for="lname"class="form-control">Message</label>
                
                  <textarea class="form-control" name="content" id="content" cols="30" rows="9" ><%=item.content  %></textarea>
                  <input class="form-control" name="id" value="<%= item._id %>" type="hidden">
                  
                </form>

              
</div>



</div>
</div>
</div>
  </body>
  <div class="col-md-8">
  <h3 style="float:right;color: beige;">
  <% if(errors){ %>
  
                      <% errors.forEach((error)=>{ %>
                        <li> <%= error.param %>: <%= error.msg %></li>
                        <% })%>
    <%}%>
  </h3>
</div>
<h3 style="display:none;"><%= JSON.stringify(item)  %></h3>


<% include ./../../elements/script %>  
